<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FSTIMAIN.Properties.Settings.FSDBMRConnectionString"
            connectionString="Data Source=192.168.8.11;Initial Catalog=FSDBMR;Persist Security Info=True;User ID=program;Password=program"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<!--<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   <dependentAssembly>
    <assemblyIdentity name="FourthShift.SDKLibrary"
    publicKeyToken="541b4aff0f04b60a"
    culture="neutral" />
    <codeBase version="8.0.0.157"
    href="file://t:\mfgsys\system\FourthShift.SDKLibrary.dll"/>
    <bindingRedirect oldVersion="7.0.0.0-8.0.0.999"
    newVersion="8.0.0.157"/>
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="FourthShift.TransactionClient"
    publicKeyToken="541b4aff0f04b60a"
    culture="neutral" />
    <codeBase version="8.0.0.157"
    href="file://t:\mfgsys\system\FourthShift.TransactionClient.dll"/>
    <bindingRedirect oldVersion="7.0.0.0 - 8.0.0.999"
    newVersion="8.0.0.157"/>
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="FourthShift.Transactions"
    publicKeyToken="541b4aff0f04b60a"
    culture="neutral" />
    <codeBase version="8.0.0.157"
    href="file://t:\mfgsys\system\FourthShift.Transactions.dll"/>
    <bindingRedirect oldVersion="7.0.0.0 - 8.0.0.999"
    newVersion="8.0.0.157"/>
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="FourthShift.TransactionProxy"
    publicKeyToken="541b4aff0f04b60a"
    culture="neutral" />
    <codeBase version="8.0.0.157"
    href="file://t:\mfgsys\system\FourthShift.TransactionProxy.dll"/>
    <bindingRedirect oldVersion="7.0.0.0-8.0.0.999"
    newVersion="8.0.0.157"/>
   </dependentAssembly>
  </assemblyBinding>
 </runtime>-->
</configuration>